/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

// dt-formatter: indent = "  "
// dt-formatter: reindentMultilineIntegerCells = "dedent"

/ {
  behaviors {
  };

  combos {
    compatible = "zmk,combos";
  };

  macros {
  };

  conditional_layers {
    compatible = "zmk,conditional-layers";

    both {
      if-layers = <1 2>;
      then-layer = <3>;
    };
  };

  keymap {
    compatible = "zmk,keymap";

    LM1 {
      bindings = <
 &kp ESC           &kp Q           &kp W               &kp E         &kp R       &kp T        &kp Y              &kp U            &kp I            &kp O               &kp P  &kp BACKSPACE
&kp HASH  &mt A LEFT_GUI  &mt S LEFT_ALT  &mt D LEFT_CONTROL  &mt F LSHIFT       &kp G        &kp H  &mt J RIGHT_SHIFT  &mt K RS(RCTRL)  &mt L RIGHT_ALT  &mt SEMI RIGHT_GUI    &kp AT_SIGN
&kp PIPE           &kp Z           &kp X               &kp C         &kp V       &kp B        &kp N              &kp M        &kp COMMA          &kp DOT            &kp FSLH          &none
                                                       &mo 3         &mo 1  &kp RETURN    &kp SPACE              &mo 2            &mo 4
      >;

      label = "DEF";
    };

    LM2 {
      bindings = <
  &kp TAB           &kp N1           &kp N2           &kp N3                &kp N4                 &kp N5            &kp N6     &kp N7            &kp N8             &kp N9     &kp N0         &kp DELETE
&kp GRAVE  &kp EXCLAMATION  &kp NON_US_HASH        &kp POUND            &kp DOLLAR            &kp PERCENT         &kp MINUS  &kp EQUAL  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp TILDE  &kp LS(BACKSLASH)
 &kp STAR        &kp CARET    &kp AMPERSAND  &kp KP_MULTIPLY  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS    &kp UNDERSCORE   &kp PLUS    &kp LEFT_BRACE    &kp RIGHT_BRACE   &kp PIPE      &kp LS(SLASH)
                                                &kp LEFT_GUI                 &none             &kp RETURN         &kp SPACE      &none      &kp LEFT_ALT
      >;

      label = "SYM";
    };

    LM3 {
      bindings = <
&bt BT_CLR        &kp F1        &kp F2        &kp F3         &kp F4            &kp F5            &kp F6          &kp F7        &kp F8           &kp F9  &kp F10  &none
&bt BT_NXT  &kp CAPSLOCK         &none         &none  &kp LESS_THAN  &kp GREATER_THAN    &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW    &none  &none
&bt BT_PRV  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2   &bt BT_SEL 3      &bt BT_SEL 4             &none           &none         &none            &none    &none  &none
                                               &none          &none             &none             &none           &none         &none
      >;

      label = "BT&EXT";
    };

    layer_3 {
      bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
      >;
    };

    layer_4 {
      bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
      >;
    };
  };
};
