/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

// dt-formatter: indent = "  "
// dt-formatter: reindentMultilineIntegerCells = "dedent"

/ {
  behaviors {
  };

  combos {
    compatible = "zmk,combos";
  };

  macros {
  };

  conditional_layers {
    compatible = "zmk,conditional-layers";

    inner-chord {
      if-layers = <1 2>;
      then-layer = <5>;
    };

    outer-chord {
      if-layers = <3 4>;
      then-layer = <6>;
    };

    left-chord {
      if-layers = <3 2>;
      then-layer = <7>;
    };

    right-chord {
      if-layers = <1 4>;
      then-layer = <8>;
    };
  };

  keymap {
    compatible = "zmk,keymap";

    LT1 {
      bindings = <
 &kp ESC           &kp Q           &kp W               &kp E         &kp R            &kp T                   &kp Y              &kp U                &kp I            &kp O               &kp P    &kp BACKSPACE
 &kp TAB  &mt A LEFT_GUI  &mt LEFT_ALT S  &mt LEFT_CONTROL D  &mt LSHIFT F            &kp G                   &kp H  &mt RIGHT_SHIFT J  &mt RIGHT_CONTROL K  &mt RIGHT_ALT L  &mt RIGHT_GUI SEMI  &kp NON_US_HASH
&kp PIPE           &kp Z           &kp X               &kp C         &kp V            &kp B                   &kp N              &kp M            &kp COMMA          &kp DOT            &kp FSLH      &kp AT_SIGN
                                                       &mo 3         &mo 1  &mt ENTER SPACE    &mt DELETE BACKSPACE              &mo 2                &mo 4
      >;

      label = "DEF";
    };

    LT2 {
      bindings = <
  &kp TAB           &kp N1           &kp N2           &kp N3                &kp N4                 &kp N5            &kp N6     &kp N7            &kp N8             &kp N9     &kp N0         &kp DELETE
&kp GRAVE  &kp EXCLAMATION  &kp NON_US_HASH        &kp POUND            &kp DOLLAR            &kp PERCENT         &kp MINUS  &kp EQUAL  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp TILDE  &kp LS(BACKSLASH)
 &kp STAR        &kp CARET    &kp AMPERSAND  &kp KP_MULTIPLY  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS    &kp UNDERSCORE   &kp PLUS    &kp LEFT_BRACE    &kp RIGHT_BRACE   &kp PIPE      &kp LS(SLASH)
                                                       &mo 3                 &none             &mt ENTER SPACE         &mt DELETE BACKSPACE      &mo 2             &mo 4
      >;

      label = "SYM";
    };

    LT3 {
      bindings = <
&bt BT_CLR        &kp F1        &kp F2        &kp F3         &kp F4            &kp F5            &kp F6          &kp F7        &kp F8           &kp F9  &kp F10  &none
&bt BT_NXT  &kp CAPSLOCK         &none         &none  &kp LESS_THAN  &kp GREATER_THAN    &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW    &none  &none
&bt BT_PRV  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2   &bt BT_SEL 3      &bt BT_SEL 4             &none           &none         &none            &none    &none  &none
                                               &mo 3          &mo 1             &mt ENTER SPACE             &mt DELETE BACKSPACE           &none         &mo 4
      >;

      label = "BT&EXT";
    };

    LT4 {
      bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans   &mo 1  &mt ENTER SPACE    &mt DELETE BACKSPACE   &mo 2   &mo 4
      >;
    };

    layer_4 {
      bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                         &mo 3   &mo 1  &mt ENTER SPACE&    &mt DELETE BACKSPACE   &mo 2  &trans
      >;
    };

    layer_5 {
      bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
      >;
    };

    layer_6 {
      bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
      >;
    };

    layer_7 {
      bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
      >;
    };

    layer_8 {
      bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
      >;
    };
  };
};
