/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

// dt-formatter: indent = "  "
// dt-formatter: reindentMultilineIntegerCells = "dedent"

/ {
  behaviors {
  };

  combos {
    compatible = "zmk,combos";
  };

  macros {
  };

  conditional_layers {
    compatible = "zmk,conditional-layers";

    inner-chord {
      if-layers = <1 2>;
      then-layer = <5>;
    };

    outer-chord {
      if-layers = <3 4>;
      then-layer = <6>;
    };

    left-chord {
      if-layers = <3 2>;
      then-layer = <7>;
    };

    right-chord {
      if-layers = <1 4>;
      then-layer = <8>;
    };
  };

  keymap {
    compatible = "zmk,keymap";

    LT1 {
      bindings = <
       &mt ESC TAB           &kp Q           &kp W               &kp E         &kp R            &kp T                   &kp Y              &kp U                       &kp I                         &kp O               &kp P  &mt RIGHT_BRACKET LEFT_BRACKET
         &kp GRAVE  &mt A LEFT_GUI  &mt LEFT_ALT S  &mt LEFT_CONTROL D  &mt LSHIFT F            &kp G                   &kp H  &mt RIGHT_SHIFT J         &mt RIGHT_CONTROL K               &mt RIGHT_ALT L  &mt RIGHT_GUI SEMI                          &kp AT
&mt PIPE BACKSLASH           &kp Z           &kp X               &kp C         &kp V            &kp B                   &kp N              &kp M  &mt LEFT_PARENTHESIS COMMA  &mt RIGHT_PARENTHESIS PERIOD     &kp NON_US_HASH                       &kp SLASH
                                                                 &mo 3         &mo 1  &mt ENTER SPACE    &mt DELETE BACKSPACE              &mo 2                       &mo 4
      >;

      label = "DEF";
    };

    LT2 {
      bindings = <
&trans     &kp NUMBER_1           &kp N2           &kp N3                &kp N4                 &kp N5            &kp N6     &kp N7            &kp N8             &kp N9     &kp N0  &trans
&trans  &kp EXCLAMATION  &kp NON_US_HASH        &kp POUND            &kp DOLLAR            &kp PERCENT         &kp MINUS  &kp EQUAL  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp TILDE  &trans
&trans        &kp CARET    &kp AMPERSAND  &kp KP_MULTIPLY  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS    &kp UNDERSCORE   &kp PLUS    &kp LEFT_BRACE    &kp RIGHT_BRACE   &kp PIPE  &trans
                                                   &trans                &trans                 &trans            &trans     &trans            &trans
      >;

      label = "SYM";
    };

    LT3 {
      bindings = <
&trans  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5    &kp F6  &kp F7  &kp F8  &kp F9  &kp F10  &none
&trans  &trans   &none   &none  &trans  &trans    &trans  &trans  &trans  &trans    &none  &none
&trans  &trans  &trans  &trans  &trans  &trans     &none   &none   &none   &none    &none  &none
                        &trans  &trans  &trans    &trans   &none  &trans
      >;

      label = "FN";
    };

    LT4 {
      bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
      >;

      label = "MCR";
    };

    LT5 {
      bindings = <
&trans  &trans  &trans  &trans  &trans           &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans           &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans           &trans                  &trans  &trans  &trans  &trans  &trans  &trans
                         &mo 3   &mo 1  &mt ENTER SPACE    &mt DELETE BACKSPACE   &mo 2  &trans
      >;

      label = "UPP";
    };

    CL1 {
      bindings = <
&trans  &trans  &trans  &trans  &trans  &bt BT_CLR    &bt BT_SEL 0  &bt BT_SEL 3  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &bt BT_NXT    &bt BT_SEL 1  &bt BT_SEL 4  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &bt BT_PRV    &bt BT_SEL 2  &bt BT_SEL 4  &trans  &trans  &trans  &trans
                        &trans  &trans      &trans          &trans        &trans  &trans
      >;

      label = "BLE";
    };

    CL2 {
      bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
      >;

      label = "OUT_CRD";
    };

    CL3 {
      bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
      >;

      label = "LFT_CRD";
    };

    CL4 {
      bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
      >;

      label = "RHT_CRD";
    };
  };
};

